/.vscode
/target
/old
/tmp
/todo.txt
/bindings/smpl_py/whatever/
/bindings/smpl_py/examples/smpl_3_anim_and_colors.py
/bindings/smpl_py/examples/smpl_4_integration_with_official_smplx.py
/bindings/smpl_py/examples/smpl_5_debug.py
/bindings/smpl_py/*.png
/examples/debug
/examples/generic_mesh_anim
/data/smplx/
/data/smplpp/
/triangle
/triangle.glb
/saved.glb
/saved
/saved.smpl
*.glb
*.gltf
/bindings/smpl_py/saved

*.pyc
*.pyi
*.abi.so
*.abi3.so
